/deploy/\[Notepad++ Directory\]/plugins/jN.dll
/deploy/*.zip
Debug
/*.ncb
/Interfaces.h
/editor_i.c
/jN.9.suo
/jN.vcproj.Emilie-PC.Emilie.user
/project.tlb
/.vs
/*.opensdf
/Release/Highlighter.tlog
/Release/jN.tlog
*.obj
*.iobj
*.ipdb
/Release/vc142.pdb
/Release/res.res
/Release/jN.vcxproj.FileListAbsolute.txt
/Release/jN.pdb
/Release/jN.log
/Release/jN.lib
/Release/jN.exp
/Release/jN.dll.recipe
/Release/jN.Build.CppClean.log
/Release/Highlighter.pdb
/Release/Highlighter.lib
/Release/Highlighter.exp
/Release/Highlighter.dll.recipe
